@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Doppio+One);

#bar {
  padding: 5px;
  border-bottom: 1px solid black;
  box-shadow: inset 0 -20px 30px rgba(200, 200, 200, 0.5);
  margin: 0px;
  font-family: 'Doppio One', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

#bar > div {
  display: inline;
  margin-right: 10px;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2F2A20;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

strong {
  font-weight: bolder;
}

#content {
  max-width: 800px;
  background-color: #ffffff;
  margin-left: 5px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  color: #c00404;
  
}

.table {
  display: table;
}

.table > div {
  display: table-row;
}

.table > div > div {
  vertical-align: middle;
  display: table-cell;
  padding: 5px;
  max-width: 650px;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

h1, h2, h3, .subtitle {
  font-family: 'Doppio One', sans-serif;
  font-weight: normal;
  color: #c00404;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;

}

.break {
    margin-top: 10px;
    border-top: 1px solid #999;
}

.papers > div {
  margin-bottom: 10px;
}

.papers > div > div:nth-child(2) {
  font-style: italic;
}

q {
  font-style: italic;  
}

th {
  border-bottom: 2px solid black;
}

table {
  border-spacing: 0px;
}

td {
  border-bottom: 1px solid black;
  padding: 5px;
}
