<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>CS220 Fall 2014 - {{ page.title }}</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
  </head>

<body>

<div id="bar">
  <div><a href="../home">Home</a></div>
  <div><a href="https://github.com/cmpsci220">Github</a></div>
  <div><a href="../resources">Resources</a></div>
  <div><a href="../software">Software</a></div>
</div>


<div id="content">

<h1>{{ page.title }}</h1>

{{ content }}

</div>

<script type="text/javascript"> /* Google Analytics*/ var gaJsHost =
(("https:" == document.location.protocol) ? "https://ssl." :
"http://www."); document.write(unescape("%3Cscript src='" + gaJsHost +
"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6609135-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>

</html>
