body {
  min-height: 2000px;
  padding-top: 70px;
}

.arjun-content {
  font-family: Palatino, serif;
  font-size: 12pt
}

.navbar-default {
  background-image: -webkit-linear-gradient(top, #881c1c 0%, #943333 100%);
  background-image:      -o-linear-gradient(top, #881c1c 0%, #943333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#881c1c), to(#943333));
  background-image:         linear-gradient(to bottom, #881c1c 0%, #943333 100%);
  border: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
  color: #fbd668
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
  border-bottom: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #fbd668;
  border-bottom: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
 background-color: #fbd668
}
